.grid {
  display: grid;
  list-style: none;
  grid-gap: 1rem;
  line-height: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: dense;
}
.grid li {
  position: relative;
  --cols: 1;
  --rows: 1;

  overflow: hidden;
  background: #000;
  line-height: 0;
}
.grid li:first-child {
  --cols: 2;
  --rows: 2;
}
.grid li:nth-child(5) {
  --cols: 2;
}
.grid li:nth-child(6) {
  --rows: 2;
}
.grid li:nth-child(7) {
  --cols: 2;
}
.grid a {
  display: block;
  height: 10rem;
}
.grid img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}
.grid figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1;
  text-align: center;
  background: rgba(0,0,0, .5);
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .125em;
  font-weight: 600;
}

@media screen and (min-width: 45em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid li {
    grid-column-start: span var(--cols);
    grid-row-start: span var(--rows);
  }
  .grid a {
    padding-bottom: 52.65%;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'lato';
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #fafafa;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainMenu{
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.item{
  border-top: 1px solid #ef584a;
  overflow: hidden;
}
.btn{
  display: block;
  padding: 15px 20px;
  background-color: #ff6f61;
  color: #fff;
  position: relative;

}
.btn:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right:8px solid transparent;
  border-top:10px solid #ff6f61;
  right: 15px;
  bottom: -10px;
  z-index: 9;
  
}
.btn i {
  margin-right: 10px;
}
.subMenu{
  background: #273057;
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}
.subMenu a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #394c7f;
  position: relative;
  
}
.subMenu a:before{
  content: '';
  opacity: 0;
  transition: opacity 0.3s;

}
.subMenu a:hover:before{
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top:0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}
.subMenu a:after{
  content: '';
  opacity: 0;
  transition: opacity 0.3s;

}
.subMenu a:hover:after{
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top:0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}
.subMenu a:hover{
  background: #273057;
  background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
  background: -webkit-linear-gradient(top, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
  background: linear-gradient(to bottom, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
  transition: all 0.3s;
  border-bottom: 1px solid #394c7f;
}
.subMenu a:last-child{
  border:none;
}
.item:target .subMenu{
  max-height: 10em;
}
